#someId
{
    background-color: rgb(117, 44, 44);
}

.someClass
{
    background-color: rgb(44, 118, 57);
}

.anotherClass
{
    color: rgb(44, 118, 45);
}

div
{
    color: rgb(48, 44, 118);
}

/* wildcard selector: */
* {
    color: rgb(118, 44, 44);
}

/* property selector: */
[id] {
    color: rgb(44, 118, 118);
}
/* or */
[id="someId"] {
    color: rgb(44, 118, 118);
}

